 <!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header clean-header  class="headerColor" [isTabs]="true" [hideMenu]="true"></ion-header>

<ion-content no-padding class="bgcolor" style="background-color: #ffffff;top:-5px;">

  <ion-grid class="downloadcontentGrid">
    <ion-row >
        <ion-item  no-padding class="mycvsticky" style="background-color: #F0F0F0;">
          <!-- <div style="" class="mycvitem-divider">
            My Downloads
          </div> -->
          <div style="font-size: 1.4em;font-weight: bold;text-align: center;padding: 15px;">My Downloads</div>

        </ion-item>
        <ion-col col-12>
          <ion-list no-margin *ngIf='templateData'>
            <ion-item tappable no-padding class="ion-item-border itemClassHeight" *ngFor="let group of templateData | slice:0:limit " style="" (click)="onDetailPage(group, $event)" [ngClass]="{'hide_row': group.downloaded == 0}">
              
              <ion-thumbnail item-start no-margin class="rectanglImg">
                <div class="thumbnilBackground">
                  <!-- <img [src]="group.iconUrl" alt="{{group.name}}" style="width: auto !important;" /> -->
                  <img *ngIf="group.localIconUrl =='' || imgSHownOnline !='none'" [src]="group.iconUrl" alt="{{group.name}}" class="rectangl_img"/>
                  <img *ngIf="group.localIconUrl !='' && imgSHownOnline =='none'" [src]="group.localIconUrl" alt="{{group.name}}" class="rectangl_img"/>

                  <span id="progressBar_{{group.id}}" style="position: absolute;left: 60px;top: 50px;padding: 3px;height:auto;color: red;text-align: center;font-size: 10px;font-weight: 900;border-radius: 25px;">
                  </span> 
                  <div class="bottom-left" style="left: 1px !important;">

                    <i *ngIf="group.subTopicType == 'video'" class="icon-play subtopic-card-img-icon" [ngStyle]="{'backgroundColor': group.hexcodeContrast }" style="color:#FFF; font-size: 25px;"></i>
                    <i *ngIf="group.subTopicType == 'image'" class="icon-pencil subtopic-card-img-icon" [ngStyle]="{'backgroundColor': group.hexcodeContrast }" style="color:#FFF; font-size: 25px;"></i>
                    <i *ngIf="group.subTopicType == 'infographic'" class="icon-sheet subtopic-card-img-icon" [ngStyle]="{'backgroundColor': group.hexcodeContrast }" style="color:#FFF; font-size: 25px;"></i>
                  </div>                    
                </div>                   
              </ion-thumbnail>
                <div float-right style="position: absolute;top:10px;">
                  <h2 padding-left>
                    <b  item-title style="white-space: normal;word-wrap: break-word;" class="item-text-wrap">{{group.name}}</b>
                    
                  </h2>

                  <p padding-left class="tab-desc-size tab-desc-size1" item-subtitle *ngIf="group.description != '' && group.description !='null'">
                    <span *ngIf="group.description.length < 76" style="white-space: normal;word-wrap: break-word;">{{group.description}}</span>
                   <span *ngIf="group.description.length > 75"  style="white-space: normal;word-wrap: break-word;">{{group.description.slice(0,75)}}...</span>
                  </p>
                </div>
              <div  float-right  style="position:absolute;bottom:10px;right:0px; color:#CCC;">
                <ion-icon  style=""  *ngIf="download_again[group.id] =='yes'" (click)="onDownload(group, $event)" class="tabsharedownloadfev">
                  <i style="" id="download_{{group.id}}" class="icon-video-icons-download can-download-icon"></i>
                </ion-icon>

                <ion-icon  style="" *ngIf="download_again[group.id] =='no'" (click)="removecontent(group, $event)" class="tabsharedownloaddlt">

                  <ion-icon name="trash"></ion-icon>
                </ion-icon>

                <ion-icon  style="" class="tabsfavshare" tappable (click)="markasFavorite(group, $event)">
                  
                   <i class="icon icon-cardio-like" [ngClass]="{'active': group.isFavourite}" [style.color]="(group.isFavourite == 1) ? '#c54334' : '#CCC'"></i>

                </ion-icon>

                <ion-icon  style="" class="tabsfavshare" tappable  (click)="shareVideo(group, $event)">  
                   <i class="icon icon-list-share" ></i>
                </ion-icon>

                <ion-icon class="myPlusIcon" (click)="onPlaylistAdd(group, $event)"> 
                  <i class="icon-video-icons-share-doctor" style=""></i>
                </ion-icon>
              </div> 
              
            </ion-item>
          </ion-list>
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="templateDataLength > limit">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ion-col>

    </ion-row>
   
  </ion-grid>

</ion-content>

<ion-footer clean-footer style="background-color: #F0F0F0 !important;" [activeFootermenu]="false" [ismyCv]="true" [ismyChannel]="false"></ion-footer>