page-login {

  #rounded {
      border: 1px solid grey;
      border-radius: 2px;

  }

  #container {

    }
  .alignme{

    text-align: center;
  }
  .clearme{

    clear: both !important;
    margin-bottom: 5px;
  }


  #forgot_password form p{
    margin-bottom: 16px;
  }

  #login{
    display: inline-block; 
    width: 100%;
  }
  .loginScreen-center {
    padding-top: 30%;
  }

  .user-setup-new-login{
    background-color: #FFFFFF !important;
    background-image: url('https://media3.giphy.com/media/48LVZBEC4zVGEqmbhi/source.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
  }

}