<!--
  Generated template for the UpgradePlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>upgrade-plan</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-header clean-header  class="tabheader" [isTabs]="true"  [hideMenu]="true" ></ion-header>
<ion-content class="user-setup-new" no-margin no-padding>
    <div class="content-wrapper">
        <div id="dark-top-banner">
            <div class="img-text-wrapper">
                <div class="text-center left">
                    <img src="assets/images/cv-logo-subscription.png">
                </div>
                <div class="text-left right weight700">
                    <span class="font20 newred">CardioVisual Pro </span><br/>
                    <!-- <span class="font20 newDarkBrown country-price">$0.99 / Month</span><br/> -->
                    <span class="font14 newred">Auto renewable subscription</span>
                </div>
            </div>
        </div>
        <div class="free-trial-new">
            <div>
                <p class="text-center font18 white free-text-new">1 Week</p>
                <p class="text-center font18 white"><b>FREE!</b></p>
            </div>
        </div>
        <div style="padding: 15px;">
            <p class="text-center pg-message-inapp font20"><b class="newred">DOWNLOAD</b> all videos for offline viewing</p>
            <p class='bordeer'> </p>
            <p class="text-center pg-message-inapp font20"><b class="newred">AUTOPLAY</b> videos in <b class="newred">PLAYLISTS</b></p>
            <p class='bordeer'> </p>
            <p class="text-center pg-message-inapp font20"> View <b class="newred">EXCLUSIVE</b> content</p>
                          
        </div>
        <p class="text-center font16 newDarkBrown" > To Learn More: <span style="text-decoration: underline;"(click)="knowMore()" class="newred"><b>watch video</b></span> </p>
        <p class="text-center pg-message-inapp font16 newDarkBrown" > <b>Choose from our easy pricing plans. </b></p>
        <div id="outerdivinapp">
            <div class="innerdivinapp">
                <button class="button-btn-inappnew" (click)="buy('premium')"><span class="font14 white country-premium-price">{{yearlySubscription}}</span></button>
            </div>

            <div class="innerdivinapp">
                <button class="button-btn-inappnew" (click)="buy('pro_monthly')"><span class="font14 white country-product-monthprice">{{monthlySubscription}}</span></button>
            </div>
        </div>
        
        <div class="subscription-content" style="padding-top: 0; margin-top: 0;">
            <!-- <p class="text-left pg-message-inapp font22" style="padding-top: 0; padding-bottom: 0; margin-top: 0;"><b>Disclaimer</b></p> -->
            <ul class="newbrown-ul font12 ">
                <li>
                    This autorenewable subscription starts with 1 week free trial. You will get billed once your free trial period expires. You can choose to cancel anytime during 1 week trial period.
                </li>
                <li>
                    Any unused portion of a free trial will be forfeited if user purchases a subscription.
                </li>
                <li *ngIf="os!='Android'">
                    Payment will be charged to your iTunes account at confirmation of purchase. Subscription will automatically renew unless cancelled at least 24-hours before the end of the current period.
                </li>
               <li *ngIf="os=='Android'">
                    Payment will be charged to your Google Play account at confirmation of purchase. Subscription will automatically renew unless cancelled at least 24-hours before the end of the current period.
                </li>
                <li>
                    Account will be charged for renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal.
                </li>
                <li *ngIf="os!='Android'">
                     Subscription can be cancelled by the user by going to the iTunes account settings after purchase.
                </li>
               <li *ngIf="os=='Android'">
                     Subscription can be cancelled by the user by going to the Google Play account settings after purchase.                       
                </li>
            </ul>

            <p class="pg-message-inapp font12 newDarkBrown" > For queries please feel free to <span style="text-decoration: underline;" (click)="chatwithus()"><b>chat with us.</b></span>
            </p>

            <p class="pg-message-inappnewred font12" style="margin-top: 10px;"> For more information, read our <span style="text-decoration: underline;" (click)="showTermsPopup()"><b>Subscription Terms</b></span>,&nbsp;<span style="text-decoration: underline;" (click)="privacyPopup()"><b>Privacy Policy</b></span> and <span style="text-decoration: underline;" (click)="showSubscriptionPopup()"><b>Free trial terms.</b></span>
            </p>
        </div>
        <!-- <div class="text-center bottom-btn-others-new content-padding">
            <button class="button-btn-inappnew" ng-click="buy()">Subscribe</button>
        </div> -->
    </div>
    <!-- <div class="text-center bottom-btn-others content-padding hidden-tablet">
        <button class="button-btn" ng-click="buy()">Subscribe</button>
    </div> -->
    <!-- <div class="text-center content-padding">
        <button class="" ng-click="buy()">Subscribe</button>
    </div> -->
</ion-content>