<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding="false" class="" *ngIf="type =='forgot_password'">
    <div>
        <p class="or-tag font20 text-center" style="color: #151313;"><b>Forgot Password</b></p>
        <form name="forgotpasswordForm" style="margin-top: 10px;">
          <div class="error text-center">{{error_msg}}</div>
            <p class="text-center">
               <input type="email" id="email" name="email"  value="" placeholder="Email Address" [(ngModel)]="email" />
            </p>
            <div class="text-center">
                <button class="white-button-btn" (click)="forgotPassword()"><b>SUBMIT</b></button>
            </div>
        </form>
        <div class="text-center terms-message" >
          <a class="alinks text-right" (click)="gotologin()" style="color: #151313;"><b>Back to Login</b></a>
        </div>
    </div>
</ion-content>

<ion-content padding="false" class="" *ngIf="type =='verification_code'">

    <div>
        <p class="text-center or-tag font20" style="color: #151313;"><b>Verification Code</b></p>
        <p class="text-center" style="color: #151313;">Please enter the code you received in your email</p>
        <form name="forgotpasswordverifyForm" style="margin-top: 10px;">
          <div class="error text-center">{{error_msg}}</div>
            <p class="text-center">
               <input type="text" id="verification_code" name="verification_code"  value="" placeholder="Verification Code" [(ngModel)]="verification_code" />
            </p>
            
            <div class="text-center">
                <button class="white-button-btn" (click)="passwordverify()"><b>SUBMIT</b></button>
            </div>
        </form>
        <div class="text-center terms-message" >
          <a class="alinks text-left" style="color: #151313;" (click)="gotoForgotpasswordPage()" ><b>Forgot Password</b></a><span style="color: #0F0505;"> | </span>
          <a class="alinks text-right" (click)="gotologin()" style="color: #151313;"><b>Back to Login</b></a>

        </div>
    </div>
</ion-content>


<ion-content padding="false" scroll="false" class="user-setup user-thankyou" *ngIf="type =='change_password'">
    <!-- <img src="img/cardio-user-setup-bg.jpg" id="login-top-banner"> -->
    
    <div id="forgot_password" class="loginScreen-center">
        <p class="text-center pg-message" style="color: #151313;"><b>Change Password</b></p>
        <form name="changePasswordForm">
            <p class="text-center">
                <input type="password" id="password" name="password" required value="" placeholder="Password" [(ngModel)]="password"/>
            </p>
            <p class="text-center">
                <input type="password" id="confirm_password" name="confirm_password" required value="" placeholder="Re-Type Password" [(ngModel)]="confirm_password"/>
            </p>
        </form>
    </div>
    <!-- <div class="text-center bottom-div">
        <button class="button-btn" ng-click="save()">Submit</button>
    </div> -->
    <div class="text-center">
        <button class="previous" (click)="changePassword()"><b>SUBMIT</b></button>
    </div>
</ion-content>
