page-popover {



}
.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248 !important;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4 !important;
  }
  .ion-md-heart-outline {
    color: #31D55F !important;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575 !important;
  }

  
}