<ion-tabs #info_tabs tabsPlacement='top' tabs-content [ngClass]="coloR" class="category_tabs">

        <ion-tab tabTitle="Expert" root="InformationTab" [rootParams]="expert_data" Class="expert"></ion-tab>

        <ion-tab tabTitle="Learn" root="InformationTab" [rootParams]="learn_data" Class="learn"></ion-tab>

        <ion-tab tabTitle="Featured" root="InformationTab" [rootParams]="featured_data" Class="featured"></ion-tab>
        
        <ion-tab tabTitle="Product" root="InformationTab" [rootParams]="product_data" Class="product"></ion-tab>

</ion-tabs>